<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395699940573-6m7g7vftvap2gjrndktjolpo0iujjrb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395699940573-6m7g7vftvap2gjrndktjolpo0iujjrb1</string>
	<key>API_KEY</key>
	<string>AIzaSyA4lZiavHy5CrB3P2sZ8KwRpHWTyUayEXs</string>
	<key>GCM_SENDER_ID</key>
	<string>395699940573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>personal.App</string>
	<key>PROJECT_ID</key>
	<string>fypapp-b49c2</string>
	<key>STORAGE_BUCKET</key>
	<string>fypapp-b49c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395699940573:ios:07d835355e6550480b7f34</string>
</dict>
</plist>